body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: rgba(250,250,250,1);
    user-select: none;
    overflow-x: hidden;
}