.footer{
    /* position:absolute; */
    /* bottom:100%; */
    padding:20px;
    width:100%;
    display: flex;
    justify-content: center;
    border-top:solid 2px rgba(0,0,0,0.2);
    font-size: large;
}