.skill-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.skill-container div{
    border-bottom:solid 1px rgba(0,0,0,0.2);
    width:60%;
    height:80px;
    overflow:hidden;
}

.skill-container div span{
    display: flex;
    padding:10px;
    gap:20px;
    justify-content: space-around;
    align-items: center;
}

.right-motion{
    transform: translateX(-100%);
    animation-name: moveRight;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-duration: 20s;
}

.left-motion{
    transform: translateX(100%);
    animation-name: moveLeft;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 20s;
}
@keyframes moveRight{
    to{
        transform: translateX(100%);
    }
}
@keyframes moveLeft{
  to{
        transform: translateX(-100%);
    }
    
}

.skill-container div img{
    width:50px;
}